oop/2018-05-18_wcf_client/2018-05-18_wcf_client/Connected Services/Service/FirstService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_2018_05_18_wcf_host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_2018_05_18_wcf_host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MotorCycle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasSideCart" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfWheels" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotorCycle" nillable="true" type="tns:MotorCycle" />
</xs:schema>