web/2_sem/aufgabe6b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="employeeType">
        <xsd:sequence>
            <xsd:element name="empNumber" type="xsd:string"/>
            <xsd:element name="firstName" type="xsd:string" />
            <xsd:element name="lastName" type="xsd:string" />
            <xsd:element name="dateOfBirth" type="xsd:date" />
            <xsd:element name="department" type="xsd:string" />
            <xsd:element name="salary" type="xsd:long" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="employee" type="employeeType" />
</xsd:schema>
